:root{
    --unselected-bg: hsla(0, 0%, 95%, 0.8);
    --unselected-bg-solid: hsla(50,0%,95%,1);
    --unselected-bg-dark: hsla(0, 0%, 0%, 0.8);

    --selected-bg: hsla(50,100%,85%, 0.8);
    --accent: hsla(50, 100%, 50%, 1);

}

* {
    font-family: Jaldi, sans-serif;
    font-size: 1.2rem;

    margin: 0;
    padding: 0;
}

#title {
    margin: 20vh 10vw 5vh 10vw;
}


h1 {
    font-size: 3.6rem;
    font-family: Bevan, serif;
    text-decoration: underline;
    text-decoration-color: var(--accent);
    text-align: left;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    min-width: 25vw;
    top: 5vh;

    padding: 1vh 0vh;
    border-radius: 25px;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0vw;
    list-style-type: none;
}

nav li {
    margin: 0;
}

nav > ul > li > a {
    padding: 1vh;
    border-radius: 25px;
}

#theme {
    /*if font size isn't made small, the button is unusually long. i do not understnad why*/
    font-size: 0.1rem;

    padding: 0.5vw;
    border-radius: 25px;

    position: fixed;
    right: 5vw;
    top: 6vh;
}

a {
    color: black;
}

ul {
    list-style-type: none;
}

li {
    margin: 2px;
}

p {
    margin: 1vw 0;
}

#pop_up_holder {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#pop_up {
    background-color: var(--unselected-bg-solid);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 100;
    border-radius: 15px;
    padding: 4vw;
}

#pop_up {
    z-index: 150;
}

#back_button {
    position: fixed;
    top: 3vh;
    right: 3vh;
    width: 3vh;
    height: 3vh;
    z-index: 100;
}

article {
    margin: 0vw 10vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5vw;
    row-gap: 5vw;
}

article > .photo {
    padding: 0;
}

article > * {
    border-radius: 15px;
    padding: 2vw;
}

.light_theme > *{
    background-color: var(--unselected-bg);
    border: none;
}

.light_theme > div:hover, .light_theme > nav a:hover, .light_theme > button:hover{
    background-color: var(--selected-bg);
}


.dark_theme > *{
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
}

.dark_theme > *:hover, .dark_theme > nav  a:hover{
    border: 2px solid var(--selected-bg);
}


footer {
    font-size: 0.8rem;
    margin: 10vh 3vh 3vh 3vh;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3, * {
        font-size: 1.1rem;
    }
    
    nav {
        width: 70vw;
    }

    #theme {
        right: 1vw;
    }

    * {
        font-size: 1rem;
    }
}