:root{
    --unselected-bg: hsla(50,0%,95%,0.8);
    --selected-bg: hsla(50,100%,95%,0.8);
    --accent: hsla(50, 100%, 50%, 1);
}

* {
    font-family: Jaldi, sans-serif;
    font-size: 1.2rem;

    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);

    width: 20%;
    top: 2vh;
    margin: 2vh 0;

    background-color: var(--unselected-bg);
    padding: 1vh 0vh;
    border-radius: 25px;
}

nav>ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0vw;
    list-style-type: none;
}

nav > ul > li > a {
    padding: 1vh;
    border-radius: 25px;
}

nav > ul > li > a:hover {
    background-color: var(--selected-bg);
}

a {
    color: black;
}

ul {
    list-style-type: none;
}

p {
    margin: 1vw 0;
}

#content {
    margin: 0vw 10vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5vw;
    row-gap: 5vw;
}

#content > * {
    background-color: var(--unselected-bg);
    border-radius: 15px;
    padding: 2vw;
}

#content > *:hover {
    background-color: var(--selected-bg);
}

#content > .photo {
    padding: 0;
}

footer {
    font-size: 0.8rem;
    margin: 5vw 2vw 2vw 2vw;
}