#first, #fifth {
    grid-column: 1 / span 3;
}

#second, #sixth {
    grid-column: 4 / span 3;
}

#third{
    grid-column: 1 / span 4;
}

#fourth {
    grid-column: 5 / span 2;
}

#seventh {
    grid-column: 1 / span 2;
}

#eighth{
    grid-column: 3 / span 4;
}


@media screen and (max-width: 800px) {
    #content > * {
        grid-column: 1 / span 6;
    }
}