#pdf_parent {
    position: fixed;
    top:0%;
    left: 0%;

    width:0; 
    height:0; 
    border:0;
    display: none;
}

#pdf_viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
    z-index: 50;
}

#back_button {
    position: fixed;
    top: 3vh;
    right: 3vh;
    width: 3vh;
    height: 3vh;
    z-index: 100;
}

#pdf_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 0;
}

#pdf_link_holder {
    cursor: pointer;
    text-decoration: underline;
}




#papers {
    grid-column: 1 / span 6;

}

#u1papers {
    grid-column: 1 / span 3;
}

#u2papers {
    grid-column: 4 / span 3;
}

#spanish_ques {
    grid-column: 1 / span 6;
}

#spanish_ques ol {
    padding: 2vw;
}

#spanish_ques button {
    background-color: rgba(0, 0, 0, 0);
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#no-questions {
    display: none;
}

#filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1vh;
}

#filter input {
    display: none;
}

#filter span, #spanish_ques button{
    padding: 0vw 0.25vw;
    border: 2px dotted var(--accent);
    border-radius: 15px;
}

#filter span:hover, #spanish_ques button:hover {
    border: 2px solid var(--accent);
    border-radius: 15px;
}

#filter input:checked + span, #spanish_ques button:checked {
    border: 2px solid var(--accent);
    border-radius: 15px;
    background-color: var(--accent);
}

#filter_holder {
    grid-column: 1 / span 3;

}

#questions_holder {
    grid-column: 4 / span 3;
}

#questions, #pdf_link_holder {
    display: block;
    height: 60vh;
    overflow-y: scroll;
}


@media screen and (max-width: 800px) {
    #u1papers {
        grid-column: 1 / span 6;
    }
    
    #u2papers {
        grid-column: 1 / span 6;
    }

    #filter_holder {
        grid-column: 1 / span 6;
    }

    #questions_holder {
        grid-column: 1 / span 6;
    }
    
}